// register page styles

@use "../abstracts/variables" as v;

.register-form {
    max-width: min(500px, 90%);
    margin: 35px auto 0;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -20px 21px 50px -50px #000000, inset -6px 6px 23px -4px #ffb664;

    .input-wrapper {
        position: relative;
    }
    .material-icons {
        color: limegreen;
        position: absolute;
        right: 15px;
        bottom: 21px;
        font-weight: 800;
    }

    hr {
        margin: 16px 0;

        border: 1px solid grey;
    }
}

.field {
    letter-spacing: 0.3px;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 1px;
    border-width: 1px;
    &:focus {
        outline: 2px solid;
        box-shadow: 0px 0px 14px 1px rgba(255, 194, 0, 0.97);
    }
}

// estilos de input personalizados

.birthdate-field {
    width: 30%;
    &:nth-of-type(2) {
        margin: 0 4.5%;
    }
}

.cpf-wrapper {
    width: 60%;
}

.cep-wrapper {
    width: 160px;
}

.city-wrapper {
    display: inline-block;
    width: 70%;
    margin-right: 4%;
}

.state-wrapper {
    display: inline-block;
    width: 26%;
}

optgroup {
    font-size: 16px;
}

.form-btn-wrapper {
    .btn {
        display: block;
        margin: 20px auto 0;
    }
}

// estilos para labels, hidden texts e inputs válidos/inválidos

.invalid {
    border: 3px solid red;
}
.valid {
    border: 3px solid limegreen;
}

.form-label {
    display: block;
    font-size: 0.9rem;
    margin-top: 5px;
}

.hidden-icon {
    display: none;
}

.input-error-text {
    font-size: 0.8rem;
    font-family: v.$font-family-secondary;
    color: red;
}
.hidden-text {
    visibility: hidden;
    font-size: 0.8rem;
    font-family: v.$font-family-secondary;
    color: #141414;
}

@media screen and (max-width: 800px) {
    .register-form {
        background-color: rgba(255, 255, 255, 0.9);
    }
}
