// [color - variables]
$primary-color: #1d164d;
$secondary-color: #badc58;

// transparent
$transparent-color: transparent;

// whites
$white-color-1: #ffffff;
$white-color-2: #fafafc;

// grays
$gray-color-1: #bcbcbc;
$gray-color-2: #9e9baf;

// font family
$font-family-default: "Montserrat", sans-serif;
$font-family-secondary: "muli", sans-serif;

// font weights
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semi-bold: 600;
$font-w-bold: 700;

// inline hights
$base-line-height: normal;

$breakpoints: (
    large: 1024px,
    medium: 700px,
    small: 480px,
);

$p-font-sizes: (
    large: (
        15px,
        1.6,
    ),
    medium: (
        14px,
        1.45,
    ),
    small: (
        12px,
        1.3,
    ),
    null: (
        16px,
        1.75,
    ),
);

$h1-font-sizes: (
    large: (
        42px,
        1.3,
    ),
    medium: (
        35px,
        1.15,
    ),
    small: (
        31px,
        1,
    ),
    null: (
        48px,
        1.45,
    ),
);
$h2-font-sizes: (
    large: (
        30px,
        1.3,
    ),
    medium: (
        28px,
        1.2,
    ),
    small: (
        26px,
        1.1,
    ),
    null: (
        32px,
        1.4,
    ),
);
$h3-font-sizes: (
    large: (
        22px,
        1.35,
    ),
    medium: (
        20px,
        1.25,
    ),
    small: (
        18px,
        1.15,
    ),
    null: (
        24px,
        1.45,
    ),
);
$h4-font-sizes: (
    large: 15px,
    medium: 14px,
    small: 13px,
    null: 16px,
);

// [shadow - variables]
// shadows
$box-shadow-card: 4px 8px 12px rgba(0, 0, 0, 0.16);
$box-shadow-button: 0px 15px 10px -10px #badc58;
